* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif, monospace;
}

body {
    background-color: dimgrey;
}

/* Main */
main {
    max-width: 1000px;
    margin: auto;
    padding: 10px;
}


/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header div .form {
    display: inline-block;
    position: relative;
    width: 230px;
    height: 40px;
    margin-right: 20px;
    margin-bottom: 10px;
}

header div span{
   font-family: monospace;
   font-weight: bold;
}

header div .label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: rotate(45deg);
    cursor: pointer;
    right: -5px;
    bottom: -3px;
}

header div .label::before {
    content: '';
    width: 25%;
    height: 25%;
    border-radius: 50%;
    border: 2px solid #333;
}

header div .label::after {
    content: '';
    width: 20%;
    height: 2px;
    background-color: #333;
}

header div .input {
    font-size: 15px;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 30px;
    outline: none;
    border: none;
}

/* menu  */
.dropdown-menu {
    display: flex;
    font-size: 12px;
}

.dropdown-menu li {
    width: 110px;
    height: 30px;
    list-style: none;
}


.dropdown-menu>li>a {
    justify-content: flex-end;
    padding-right: 5px;
    font-size: 18px;
}

.dropdown-menu:hover >li>a{
    background-color: rgb(112, 192, 112);
}

.dropdown-menu a {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .1s linear;
}

.dropdown-menu:hover .dropdown-submenu{
    display: block;
}

.dropdown-submenu {
    width: 150px;
    position: absolute;
    margin-top: 1px;
    display: none;
}


.dropdown-submenu a {
    font-size: 11px;
    cursor: pointer;
    background-color: #000000c4;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
    border-left: 8px solid transparent;
}

.dropdown-submenu li:hover>a {
    border-left: 8px solid black;
    background-color: rgb(112, 192, 112);
}

/* Modal */

.containerModal-1 {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.322);
}

.containerModal-1 .modalInput {
    max-width: 80%;
    padding: 40px 20px;
    border-radius: 5px;
    background-color: rgb(99, 182, 99);
    border: 1px solid rgb(38, 80, 82);

}

.modalInput input {
    width: 100%;
}

.modalInput input::-webkit-file-upload-button {
    height: 30px;
    margin-bottom: 10px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid white;
}

.modalInput button {
    border: 1px solid white;
}

/* Modal 2 */
.containerModal-2 {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.322);
}

.containerModal-2 .modal2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(99, 182, 99);
    border: 1px solid rgb(38, 80, 82);
    width: 250px;
    height: 100px;
    border-radius: 5px;
}

.containerModal-2 .modal2 button {
    cursor: pointer;
    width: 70px;
    background-color: rgb(214, 211, 211);
}

.containerModal-2 .modal2 button:focus {
    background-color: aliceblue;
}

.containerModal-2 .modal2 button:hover {
    background-color: aliceblue;
}

/* Container Inputs */
.containerInputs {
    display: flex;
    gap: 10px;
}

.containerInputs>div input {
    margin-right: 5px;
}

.containerInputs input,
select,
button {
    border: none;
    height: 30px;
    outline: none;
    padding: 0 5px;
    border-radius: 3px;
}

.containerInputs button {
    cursor: pointer;
}


/* Section */
section div {
    border-radius: 5px;

    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 10px;
    padding: 10px;


}

section h3 {
    margin-bottom: 5px;
    color: white;
}

section h3 span{
    
    margin-left: 10px;
    margin-bottom: 5px;
    
     color: rgba(0, 0, 0, 0);
    cursor: pointer;
}
section span:hover{
    color: white;
}

section li {
    padding-left: 5px;
    height: 18px;
    margin-bottom: 2px;
    list-style-position: inside;
    display: flex;
    justify-content: space-between;
    /* word-break: break-all; */

}

section li a {
    padding-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

section li:hover {
    background-color: rgba(255, 255, 255, 0.637);

}

section li a {
    text-decoration: none;

    color: rgb(128, 226, 128);
}

section li:hover button {
    width: 30px;
    height: 0;
    display: block;
}

section li button {
    background-color: burlywood;
    display: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

section li button:hover {
    color: red;
    background-color: rgb(238, 88, 88);
}


@media screen and (max-width: 786px) {

    header {
        display: block;
    }

    header div .form {
        width: 100%;
        
    }
    header div span{
        display: block;
        text-align: center;
        margin-top: 10px;
    }

    .dropdown-menu {
        justify-content: flex-end;
    }

    .containerInputs {
        display: block;
    }

    .containerInputs div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    /* .containerInputs div div{
        display: inline-block;
        width: 90%;
    } */
    .containerInputs input {
        width: 45%;
        /*  margin-left: 5px; */
    }

    .containerInputs select {
        margin-right: 5px;
    }

    .containerInputs button {
        width: 50px;
    }
}

@media screen and (max-width: 413px) {

    header {
        display: block;
        height: 100vh;
        position: relative;
    }

    header div {
        position: absolute;
        top: 30%;
        height: 200px;
    }
    header div .form {
        height: 55px;
        margin-top: 10px;
    }
    header div span{
        margin-top: 20px;
    }

    .form .label {
        right: 1px;
    }
    .form .input{
        padding-right: 40px;
    }
    header div .input {
        height: 55px;
    }
}

